- content_for :js_links do
  - # Load ExtJS App
  = javascript_tag("var i18n_scope = 'js.adminjs';")
  = javascript_include_tag "admin.js/script"

- content_for :main_content do
  #application
  :javascript         
    $(function() {
      var app = AdminJS.app({
        el: "#application",
        locale: 'es',
        callbacks: AdminJS.test.Callbacks()
      });
      
      app.initialize();
     });


